<!-- <div data-ng-show="signedIn()"><button type="button" data-ng-click="signOut()">Log Out</button></div>
 -->
<nav class ="navbar navbar-inverse navbar-fixed-top">
  <section class="container-fluid">
    <form class="navbar-form navbar-left">
      <i class="fa fa-search"></i>
      <input type="text" class="form-control" placeholder="Search...">
    </form>
    <a class="navbar-brand" href="#/">HowToIt!</a>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#/">Home</a>
      </li>
      <li data-ng-if="!signedIn()">
        <a href="#/sign_in">Sign In</a>
      </li>
      <li data-ng-if="!signedIn()">
        <a href="#/create_user">Create Account</a>
      </li>
      <li data-ng-if="signedIn()">
        <a data-ng-click="signOut()">Log Out</a>
      </li>
    </ul>

  </section>
</nav>
