<main data-ng-controller="tutorialsController" data-ng-init="getAll()">
  <section class="col-md-2 sidebar">
    <ul class="nav nav-sidebar" data-ng-repeat="tag in tags">
      <li>
        <a data-ng-click="getAll(tag)">{{tag}}</a>
      </li>
    </ul>
  </section>

  <section class='col-md-10 col-md-offset-2 main'>
    <div class="controls">
      <a title="Menu"><i class="fa fa-bars"></i></a>
      <a title="Bookmarks"><i class="fa fa-star"></i></a>
      <a data-ng-click="createNew()"title="Share a tutorial"><i class="fa fa-share"></i></a>
      <a title="Comments"><i class="fa fa-comments"></i></a>
    </div>

    <div data-ng-if="creationMode()">
      <h1>Submit A New Tutorial</h1>

      <form data-ng-submit="addNewTutorial(tut)">

        <div class="form-group">
          <label for="title">Caption:</label>
          <input type="text" class="form-control" required name="title" data-ng-model="tut.caption">
        </div>

        <div class="form-group">
          <label for="link">Url:</label>
          <input type="text" class="form-control" required name="link" data-ng-model="tut.link">
        </div>

        <div class="form-group">
          <label for="description">Description:</label>
          <input type="text" class="form-control" required name="description" data-ng-model="tut.description">
        </div>

        <div class="checkbox">
          <label class="checkbox-inline" for="tags" data-ng-repeat="tag in tags">
            <input type="checkbox" class="checkbox" value="" name="tags" checklist-model="tut.tags" checklist-value="tag">
            {{tag}}
          </label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div data-ng-repeat="tutorial in tutorials | orderBy: '-rank'">
      <div class="tut">
        <p>
          <a><i class="fa fa-angle-up" data-ng-click="voteUp(tutorial)"></i></a>
          <span class="rank">{{ tutorial.rank }}</span>
          <a><i class="fa fa-angle-down" data-ng-click="voteDn(tutorial)"></i></a>
          <span class = "link"><a href="{{ tutorial.link }}" target="_blank">{{ tutorial.caption }}</a></span>
        </p>
      </div>
    </div>
  </section>
</main>
