<section data-ng-controller="authController">
  <form data-ng-submit="authCreate(user)">

    <label for="username">Username:</label>
    <input type="text" name="username" data-ng-model="user.username">

    <label for="email">Email:</label>
    <input type="text" name="email" data-ng-model="user.email">

    <label for="password">Password:</label>
    <input type="password" name="password" data-ng-model="user.password">

    <label for="confirmation">Confirm Password:</label>
    <input type="password" name="confirmation" data-ng-model="user.confirmation">

    <button type="submit">Create Account</button>

  </form>
</section>
