.main {
  padding-top: 70px;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: #F2F2F2;
  border-right: 5px solid;
}

.main {

}

a {
  color: #000000;
  font-size: 18px;
}
