.main {
  padding-top: 70px;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: #F2F2F2;
  border-right: 5px solid;
}

.vote {
  display: inline-block;
}

.content {
  display: inline-block;
  position: relative;
  bottom: 71px;
  left: 25px;
}

.diff {
  position: relative;
}

.form-control {
  width: 20%;
}

a {
  color: #000000;
  font-size: 18px;
}

.caption {
  font-size: 30px;
}

.tut {
  position: relative;
  border: 1px solid black;
  margin: 5px 0;
  height: 150px;
}

span.rank {
  position: absolute;
  display: inline-block;
  width: 34px;
  height: 54px;
  text-align: center;
  top: 59px;
  left: 10px;
  font-size: 1.5em;
  color: #555;
}

.fa-angle-up, .fa-angle-down {
  font-size: 3em;
  color: #CCC;

}

.fa-angle-up:hover, .fa-angle-down:hover{
  color: blue;
}

.fa-angle-up {
  position: absolute;
  top: 20px;
  left: 10px;
}

.fa-angle-down {
  position: absolute;
  top: 70px;
  left: 10px;
}

span.link {
  display: block;
  text-align: center;
}

.main {
  padding-top: 40px;
}

/*--- nav bar styles ---*/

.navbar-form {
  margin-left: -20px;
}

.navbar-left .form-control {
  margin-top: 0px;
  height: 30px;
  padding: 2px 35px;
  font-size: 12px;
  font-style: italic;
  border-radius: 0;
  vertical-align: text-top;
}

.fa-search {
  position: absolute;
  top: 17px;
  left: 22px;
  color: #555;
}

.navbar-inverse .navbar-brand {
  color: #FFF;
  font-family: "Helvetica Neue";
  font-style: italic;
  font-size: 1.75em;
  font-weight: 200;
  text-shadow: 1px 1px 1px #A6A6A6;
}

.navbar-inverse .navbar-brand:hover {
  color: #0000ff !important;
  text-shadow: 1px 1px 1px #0000ff !important;
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFF;
  font-weight: 200;
  font-size: 1.25em;
  text-shadow: 1px 1px 1px #A6A6A6;
  margin-right: 25px;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #0000ff;
  font-weight: 200;
  text-shadow: 1px 1px 1px #0000ff;
}
