.main {
  padding-top: 70px;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: #F2F2F2;
  border-right: 5px solid;
}

.vote {
  display: inline-block;
}

.content {
  display: inline-block;
  position: relative;
  bottom: 71px;
  left: 25px;
}

.diff {
  position: relative;
}

.form-control {
  width: 20%;
}

a {
  color: #000000;
  font-size: 18px;
}

.caption {
  font-size: 30px;
}
