<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>How To It</title>
</head>
<body data-ng-app="tutorialApp">

  <section data-ng-controller="userbarController" data-ng-init="getTags()">
    <h1>Categories</h1>
    <ul data-ng-repeat="tag in tags">
      <li>{{tag}}</li>
  </section>

  <main data-ng-controller="tutorialsController" data-ng-init="getAll()">
    <ul data-ng-repeat="tutorial in tutorials">
      <li>{{tutorial.caption}} {{tutorial.votes.length}}
      </li>
    </ul>
  </main>
  <script src="bundle.js"></script>
</body>
</html>
